body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titulo{
    background-color: green;
    color: red;
    font-size: 32px;
    
}
.texto{
    background-color: yellow;
    color: blue;
    font-size: 16px;

}